<!DOCTYPE html>

<style>
  table {
<!--    width: 100%; -->
    border: 1px solid #444444;
  }
  
  th, td {
    border: 1px solid #444444;
    text-align: center
  }

  form { 
    float: left; 
  } 
</style>

<table>
  <caption>virsh list</caption>
  <thead>
        <tr>
          <th>domain name</th>
          <th>vcpu</th>
          <th>memory</th>
          <th>state</th>
          <th>state_change</th>
	</tr>
  </thead>

  <% for r in @raw do %> 
     <% if (r["name"] == "kvm_centos7-origin") then next end %>
  <tbody>
    <tr>
      <td><%= r["name"] %></td>
      <td><%= r["cpu"] %></td>
      <td><%= r["memory"] %> Gib</td>
      <td><%= r["state"] %> </td>
      <td>
	<form method="POST" action="/vm-do/start/<%= r["name"] %>">
	  <input type="submit" value="開始">  
	</form>
	<form method="POST" action="/vm-do/shutdown/<%= r["name"] %>">
          <input type="submit" value="停止">
        </form>
	<form method="POST" action="/vm-do/reboot/<%= r["name"] %>">
          <input type="submit" value="再起動">
        </form>
	<form method="POST" action="/vm-do/destroy/<%= r["name"] %>">
          <input type="submit" value="削除">
        </form>
     </td>
    </tr>
  </tbody>

  <% end %>
</table>


<textarea cols="50" rows="5">
開始：start
停止：shutdown
再起動：reboot
削除：destroy
</textarea>
